mixin sCatalogPage(data)
	// start sCatalogPage
	+b.SECTION.sCatalogPage.section#sCatalogPage&attributes(attributes)
		+e.container.container
			block
			+e.main-row.row
				.col-lg-3
					+b.cat-aside.cat-aside-dd-js
						+e.box
							+e.header Продукция
								+icon('chevron-down')
							+e.items
								+e.link(href="#").active Светодиодные лампы-трубки Nanlite PavoTube LED
								+e.link(href="#") Светодиодные панели Nanlite LED
								+e.link(href="#") Осветители направленного света Nanlite LED
								+e.link(href="#") Принадлежности и аксессуары Nanlite
				.col-lg-9
					+e.o-row
						h1 Каталог
					+e.row.row
						+catalogPageItem(1, 'Светодиодные лампы-трубки Nanlite PavoTube LED')
						+catalogPageItem(2, 'Светодиодные панели Nanlite LED')
						+catalogPageItem(3, 'Осветители направленного света Nanlite LED')
						+catalogPageItem(4, 'Принадлежности и аксессуары Nanlite')
	// end sCatalogPage

mixin catalogPageItem(imgNum, name, bootClasses="")
	.col-sm-6.col-lg-4(class=bootClasses)
		+e.item(href='#')
			+e.img-wrap
				.img-wrap-center
					img(loading="lazy" src=`img/@2x/catalog-img-${imgNum}.png` alt="")
			+e.i-name.text-center=name

mixin sCatalogPage2(data)
	// start sCatalogPage
	+b.SECTION.sCatalogPage.section#sCatalogPage&attributes(attributes)
		+e.container.container
			block
			+e.main-row.row
				.col-lg-3
					+b.cat-aside.cat-aside-dd-js
						+e.box
							+e.header Продукция
								+icon('chevron-down')
							+e.items
								+e.link(href="#").active Светодиодные лампы-трубки Nanlite PavoTube LED
								+e.link(href="#") Светодиодные панели Nanlite LED
								+e.link(href="#") Осветители направленного света Nanlite LED
								+e.link(href="#") Принадлежности и аксессуары Nanlite
				.col-lg-9
					+e.row.row
						+catalogPageItem(1, 'Инструменты с функцией Connectivity и Bluetooth-модули')
						+catalogPageItem(2, 'Дрели, ударные дрели и шуруповерты')
						+catalogPageItem(3, 'Перфораторы и отбойные молотки')
						+catalogPageItem(4, 'Угловые шлифмашины и металлообработка')
						+catalogPageItem(5, 'Стационарные инструменты и столы')
						+catalogPageItem(6, 'Шлифмашины и рубанки')
						+catalogPageItem(7, 'Аккумуляторные инструменты')
						+catalogPageItem(8, 'Техника для алмазного сверления')

mixin asideItem(name, activeClass='')
	+e.item(class=activeClass)&attributes(attributes)
		+e.i-head.dd-head-js
			+e.name=name
			//- +icon('chevron-down')
		+e.content.dd-content-js(class=activeClass)
			if block
				block
			else
				+e.links
					+e.link(href="#") Система 12 В
					+e.link(href="#") Система 18 В
					+e.link(href="#") Дрели-шуруповерты
					+e.link(href="#") Ударные дрели-шуруповерты

mixin sCatalogPage3(data)
	// start sCatalogPage
	+b.SECTION.sCatalogPage.section#sCatalogPage&attributes(attributes)
		+e.container.container
			block
			+e.main-row.row
				.col-lg-3
					+b.cat-aside.cat-aside-dd-js
						+e.box
							+e.header Продукция
								+icon('chevron-down')
							+e.items
								+e.link(href="#").active Светодиодные лампы-трубки Nanlite PavoTube LED
								+e.link(href="#") Светодиодные панели Nanlite LED
								+e.link(href="#") Осветители направленного света Nanlite LED
								+e.link(href="#") Принадлежности и аксессуары Nanlite
					//- +FiltersBlock()
					//- +filterBtnsBar()
				.col-lg-9
					+e.options
						+e.o-row.row
							.col-sm
								h1 Светодиодные лампы-трубки
							.col-sm-auto.ms-auto
								+e.select
									+input('Цена по возрастанию', 'select')
							.col-auto.d-none.d-md-block
								+e.icon-btn
									+icon('square')
							.col-auto.d-none.d-md-block
								+e.icon-btn.active
									+icon('lines')
					+sqprodItemsRow()
					//- +longProdItemsRow()
					+pugin()

mixin sCatalogPage4(data)
	// start sCatalogPage
	+b.SECTION.sCatalogPage.section#sCatalogPage&attributes(attributes)
		+e.container.container
			block
			+e.main-row.row
				.col-lg-3
					+b.cat-aside.cat-aside-dd-js
						+e.box
							+e.header Продукция
								+icon('chevron-down')
							+e.items
								+e.link(href="#").active Светодиодные лампы-трубки Nanlite PavoTube LED
								+e.link(href="#") Светодиодные панели Nanlite LED
								+e.link(href="#") Осветители направленного света Nanlite LED
								+e.link(href="#") Принадлежности и аксессуары Nanlite
					//- +FiltersBlock()
					//- +filterBtnsBar()
				.col-lg-9
					+e.options
						+e.o-row.row.align-items-start
							.col
								h1 Инструменты
							.col-auto
								+e.o-sub-row.row
									.col-auto
										+e.select
											+input('Цена по возрастанию', 'select')
									.col-auto.d-none.d-md-block
										+e.icon-btn
											+icon('square')
									.col-auto.d-none.d-md-block
										+e.icon-btn.active
											+icon('lines')
					+longProdItemsRow()
					+pugin()

mixin sqprodItemsRow(addClasses)
	+e.row.row.pb-48.pb-md-60(class=addClasses)
		.col-xsm-6.col-md-4
			+item-prod('1', false, 'Арт. №15-2009-4KIT', 'Светодиодная лампа-трубка Nanlite PavoTube II 6C', '7 500 ₽', '9 500 ₽')
		.col-xsm-6.col-md-4
			+item-prod('5', false, 'Арт. №15-2009-4KIT', 'Светодиодная лампа-трубка Nanlite PavoTube T8-7X', '8 100 ₽', false, false)
		.col-xsm-6.col-md-4
			+item-prod('6', false, 'Арт. №15-2009-4KIT', 'Светодиодная лампа Nanlite PavoBulb 10C RGBWW LED', '6 500 ₽', false)
		.col-xsm-6.col-md-4
			+item-prod('7', false, 'Арт. №15-2009-4KIT', 'Крепление магнитное для лампы Nanlite PavoBulb 10C', '860 ₽', '1 000 ₽')
		.col-xsm-6.col-md-4
			+item-prod('8', false, 'Арт. №15-2009-4KIT', 'Комплект Nanlite PavoBulb 10C-4Kit RGBWW LED', '46 900 ₽', false, false)
		.col-xsm-6.col-md-4
			+item-prod('9', false, 'Арт. №15-2009-4KIT', 'Светодиодная лампа-трубка Nanlite PavoTube II 15X', '32 700 ₽', false,)
		.col-xsm-6.col-md-4
			+item-prod('10', false, 'Арт. №15-2009-4KIT', 'Светодиодная лампа-трубка Nanlite PavoTube 15C RGBWW', '18 410 ₽', false)
		.col-xsm-6.col-md-4
			+item-prod('11', false, 'Арт. №15-2009-4KIT', 'Комплект Nanlite PavoTube 15C-KIT 2 RGBWW (61 см)', '34 320 ₽', '38 500 ₽')
		.col-xsm-6.col-md-4
			+item-prod('12', false, 'Арт. №15-2009-4KIT', 'Комплект Nanlite PavoTube II 15X-KIT 4 RGBWW (61 см)', '117 550 ₽', false)
		block

mixin longProdItemsRow(addClasses)
	+e.row.row(class=addClasses)
		.col-12
			+itemProdLong('Светодиодная лампа-трубка Nanlite PavoTube II 6C', '1','new', '7 500 ₽', '9 500 ₽')
		.col-12
			+itemProdLong('Светодиодная лампа-трубка Nanlite PavoTube T8-7X', '5', '', '8 100 ₽', '', false)
		.col-12
			+itemProdLong('Светодиодная лампа Nanlite PavoBulb 10C RGBWW LED', '6', 'new', '6 500 ₽', '')
		.col-12
			+itemProdLong('Крепление магнитное для лампы Nanlite PavoBulb 10C', '7', 'new', '860 ₽', '1 000 ₽')
		.col-12
			+itemProdLong('Комплект Nanlite PavoBulb 10C-4Kit RGBWW LED', '8', 'new', '46 900 ₽', '', false)
		.col-12
			+itemProdLong('Светодиодная лампа-трубка Nanlite PavoTube II 15X', '9', '', '32 700 ₽', '')

mixin filterBtnsBar()
	+b.filter-bar-btns.d-flex.d-lg-none.pb-60
		+e.filter-btn
			+icon('filter-bar-icon')
			span ФИЛЬТР парамтеров
			.filter-number 3
		+e.cross-btn
			+icon('cross')

mixin FiltersBlock()
	+b.filter-bl
		+e.pop-up-controll-panel.d-flex.d-lg-none
			+e.back-btn
				+icon('angle-left')
				span Назад
			+e.discard-filters-btn
				+icon('cross')
				span сбросить фильтры
		+e.title.d-none.d-lg-block
			+icon('filter')
			| Фильтр параметров
		+form-wrap()
			.filter-dd-js
				.check-box-filter-group
					+e.headline.dd-head-js Напряжение аккумулятора (В)
					+e.filter-content.dd-content-js
						+in-c06("checkbox", '12 В (0)', 'no-my-city')(class="filter-checkbox disabled")
						+in-c06("checkbox", '14,4–18 В (0)', 'no-my-city')(class="filter-checkbox ")
						+in-c06("checkbox", '36 В (0)', 'no-my-city')(class="filter-checkbox ")
						+in-c06("checkbox", '18 В (0)', 'no-my-city')(class="filter-checkbox ")
				.price-filter-group
					+e.headline.dd-head-js Цена ₽
					.dd-content-js
						+range("1", "999999")
					//- .check-box-alt-filter-group
					//- 	+e.headline Фильтр
					//- 	+in-c06("checkbox", 'Самоходные', 'no-my-city')(class="filter-checkbox-alt disabled")
					//- 	+in-c06("checkbox", 'Аккумуляторные', 'no-my-city')(class="filter-checkbox-alt ")
					//- 	+in-c06("checkbox", 'Бензольные', 'no-my-city')(class="filter-checkbox-alt ")
			.accept-filters-btn-cont.d-block.d-lg-none
				.accept-filters-btn применить фильтры
		a(href="#").sCatalogPage__filtred-drop.d-none.d-lg-block
			+icon('reset')
			| Сбросить выбор
mixin range(c1, c2)
	.range-wrap.price_slider_amount
		.label-cont
			label.left-inp
				+e.text.SPAN от
				+b.INPUT.range-result--minus.minus(type="text")
			.dash-dark -
			label.right-inp
				+e.text-end.SPAN до
				+b.INPUT.range-result--plus.plus(type="text")
		input.range-slider.slider-js(type='text'  data-min= c1  data-max= c2)
mixin in-c06(typ="checkbox", text, name= typ )
	+b.LABEL.custom-input&attributes(attributes)
		+e.INPUT.input(type= typ , name= name)
		+e.SPAN.lab
		if block
			block
		else
			+e.SPAN.text= text
mixin in-r(name='radio-btn-group', checked=false)
	+b.LABEL.custom-radio&attributes(attributes)
		if checked
			+e.INPUT.radio-input(type="radio", name = name, checked)
			block
		else
			+e.INPUT.radio-input(type="radio", name = name)
			block

mixin itemProdLong(title,img,tag, newPrice, oldPrice, inStock=true)
	+b.long-item
		+e.about-col(href="#")
			if tag
				.prod-item__badge Новинка
			else
			+e.img
				.img-wrap-center
					img(loading='lazy' src=`img/@2x/catalog-img-${img}.png` alt="")
		+e.price-col
			+e.content-col
				if title
					+e.title(href="#")=title
				+e.code Арт. №15-2009-4KIT
				if inStock
					+e.inStock в наличии
				else
					+e.notInStock нет в наличии
			+e.links
				+e.compare(href="#")
					+icon('heart')
			+e.footer-row.row
				.col-auto
					+e.price--new.font-monospace!= newPrice
				if oldPrice
					.col-auto
						+e.price--old!= oldPrice
				//- +e.btn-col.col-md-auto
				.col.text-sm-end
					+e.btn(href='#') Купить
