mixin sProdCard(data)
	// start sProdCard
	+b.SECTION.sProdCard.section#sProdCard&attributes(attributes)
		.container
			block
			//- mixin prodHeader(header,label, color)
			//- 	.section-title.hit
			//- 		if label
			//- 			.label(class=`label--${color}`)= label
			//- 			h1.p-0!= header
			//- 		else
			//- 			.col
			//- 				h1.p-0!= header
			//- +prodHeader('Аккумуляторная угловая шлифмашина с X-LOCK GBH 36 V-LI PLUS','Хит','red')
			+e.main-row.row
				.col-lg-8
					+prodCardSliders()
					+productTabs()
				+e.side-col.col-lg-4
					h1.p-0 Светодиодная лампа-трубка Nanlite PavoTube II 15X
					mixin available(available)
						if available
							+e.available.--true в наличии
						else
							+e.available.--false нет в наличии
					+e.number Артикул: 12C1467P
					+available('available')
					+e.desc-item
						p.fw-bold Доставка:&nbsp;
						p Курьером в пределах МКАД - при сумме заказа от 1500р (от 1500р до 4999р стоимость доставки 200руб, от 5000р - бесплатно)
					+e.desc-item
						p.fw-bold Самовывоз бесплатно:&nbsp;
						p Москва Сормовский проезд 11/7
						p Отправка заказов по всей России
					+e.desc-item
						p.fw-bold Габариты в упаковке:&nbsp;
						p 315мм x 375мм x 102мм
					+e.desc-item
						p.fw-bold Вес:&nbsp;
						p 2.81кг
					+e.desc-more-info
						p 12В
						p 35 Нм
						p 1500 об/мин
					+buyBlock()
			+sCatalogHit('с этим товаром покупают').sCatalog--prodcard
			+sCatalogSimilarProducts
					//- +tableDescr('Наличие в магазинах')
					//- 	+tableDescrItem('Магазин Дмитровка', 'В наличии')
					//- 	+tableDescrItem('Магазин Дмитровка', 'Под заказ')
					//- +tableDescr('Варинаты доставки')(class="mb-12")
					//- 	+tableDescrItem('Курьерская доставка по Москве')
					//- 		| 1-2 дня
					//- 		br
					//- 		| от 200 до 500 руб.
					//- 	+tableDescrItem('Доставка по России')
					//- 		| от 1-2 дня
					//- 		br
					//- 		| от 500 руб.
					//- 	+tableDescrItem('Самовывоз')
					//- 		| от 250 руб.
					//- +e.free.text-center
					//- 	| При заказе от 5 000 руб. доставка
					//- 	|
					//- 	span.text-primary бесплатная
					//- 	|. Точную стоимость доставки уточняйте у менеджера.
	// end sProdCard

mixin productTabs()
	+b.prodTabs.tabs
		+e.caption.tabs__caption
			.swiper.prodTabs-caption-slider-js
				.swiper-wrapper
					+productTabsSlide('Описание', 'active')
					+productTabsSlide('Характеристики')
					+productTabsSlide('Видео')
		+e.wrap.tabs__wrap
			.tabs__content.active
				p Nanlite PavoTube II&nbsp;RGBWW&nbsp;&mdash; это следующая эволюция светодиодных пиксельных трубок Nanlite. Компания Nanlite использовала отзывы владельцев PavoTube по&nbsp;всему миру для усовершенствования конструкции своих светодиодных трубок. Они стали более яркими, свет более рассеянный и&nbsp;равномерный, добавлены пиксельные спецэффекты, прочный металлический корпус, совместимость с&nbsp;DMX и&nbsp;расширенное управление приложениями.
				p PavoTube II&nbsp;15X&nbsp;RGBWW LED с&nbsp;расширенным и&nbsp;более точным диапазоном цветовой температуры от&nbsp;2700K до&nbsp;12000K с&nbsp;регулировкой от&nbsp;зеленого до&nbsp;пурпурного, средним индексом CRI&nbsp;96, значением TLCI&nbsp;98, а&nbsp;также полным спектром управления оттенками и&nbsp;насыщенностью RGB.
				p Благодаря внутреннему литий-ионному аккумулятору емкостью 2200 мАч PavoTube II&nbsp;15X может работать в&nbsp;течение 1&nbsp;часа 26&nbsp;минут при полной яркости. Полная зарядка аккумулятора достигается за&nbsp;3&nbsp;часа с&nbsp;помощью прилагаемого адаптера переменного тока, который также может питать Pavotube II&nbsp;15X&nbsp;в процессе длительных съемок.
				p В&nbsp;дополнение к&nbsp;пятнадцати регулируемым спецэффектам PavoTube II&nbsp;15X предлагает десять новых эффектов на&nbsp;основе пикселей, расширяющих творческие возможности. Пиксельные эффекты включают Hue Loop, CCT Loop, INT Loop, Multi-color, Gradient, Scrolling, Marching, Flame, Rainbow и&nbsp;Driving. Практические эффекты включают Hue Loop, CCT Loop, INT Loop, CCT Flash, HUE Flash, CCT Pulse, Hue Pulse, Storm, Police Car, TV, Paparazzi, Candle/Fire, Disco, Bad Bulb, Firework, Explosion и&nbsp;Welding.
				p Модернизированный металлический корпус PavoTube II&nbsp;15X обеспечивает надежную защиту при эксплуатации прибора, а&nbsp;три встроенных приемника &frac14;&quot; значительно расширяют возможности монтажа.
			.tabs__content
				+e.table
					+prodTabsTableRow('Distance and CCT')
					+prodTabsTableRow('@ 0.5m 2700K', '1374 lux')
					+prodTabsTableRow('@ 1m 2700K', '343 lux')
					+prodTabsTableRow('@ 2m 2700K', '86 lux')
					+prodTabsTableRow('@ 3m 2700K', '38 lux')
					+prodTabsTableRow('@ 0.5m 3200K', '1399 lux')
			.tabs__content
				//- +e.title Инструкция
				//- +e.docs
				//- 	+e.docs-item
				//- 		+icon('doc')
				//- 		+e.doc-title Аккумуляторная угловая шлифмашина с X-LOCK GBH 36 V-LI PLUS
				//- 		button.prodTabs__docs-btn Скачать

mixin prodTabsTableRow(name, val)
	+e.t-row.row
		+e.t-name-col.col-6=name
		if val
			+e.t-val-col.col-6=val

mixin productTabsSlide(title, addClass="")
	.swiper-slide
		+e.btn.tabs__btn.font-monospace(class=addClass)=title

mixin miniSlider()
	+b.mini-slider
		.swiper.mini-slider-js
			.swiper-wrapper
				+miniSlide()
				+miniSlide()
				+miniSlide()
				+miniSlide()
				+miniSlide()
		.swiper-pagination

mixin miniSlide()
	.swiper-slide
		+e.img(href='#')
			img.swiper-lazy(src="#" data-src="img/@2x/mini-slide.jpg" alt="")

mixin tableDescr(title)
	+e.table-descr&attributes(attributes)
		+e.t-head=title
		+e.t-items
			block

mixin tableDescrItem(name, val)
	+e.t-item.row
		+e.t-name-col.col-6=name
		if block
			+e.t-val-col.col-6
				block
		else
			+e.t-val-col.col-6=val

mixin buyBlock()
	+b.buy-bl--js
		+e.close-bar.d-md-none.buy-bl-toggle-js
			+icon('chevron-down')
		+e.main-row.row
			+e.price-col.col.col-md-6.col-lg-12.order-1
				+e.price-row.row
					.col.col.d-flex
						+e.price--new.font-monospace 16 500 ₽
						+e.price--old 18 500 ₽
					+e.inputs-col.col.col
						+e.price
							+e.p-btn--min 
							+e.INPUT.p-input.form-control(type='number' value="1")
							+e.p-btn--plus
			+e.btns-col.col-12.col-sm-auto.col-md-6.col-lg-12.order-3.order-sm-2
				+e.buy-btn(href="#") Купить
				//- +e.btn-row.row
				//- 	.col-md-6.col-lg-12
			+e.open-col.col-auto.d-md-none.buy-bl-toggle-js.order-2.order-sm-3
				+e.open
					span


mixin prodCardSliders(addClasses='')
	+b.pc-sliders--js(class=addClasses)
		+e.row.row
			+e.slider-col.col-md-12
				+e.slider
					.swiper.sProdCard-slider-js
						.swiper-wrapper
							+prodCardSlide(1)
							+prodCardSlide(1)
							+prodCardSlide(1)
							+prodCardSlide(1)
							+prodCardSlide(1)
							+prodCardSlide(1)
							+prodCardSlide(1)
					//- +arrow('d-none d-sm-flex')
			.col-12
				+e.thumb-slider
					.swiper.sProdCard-thumb-js
						.swiper-wrapper
							+prodCardThumb(1)
							+prodCardThumb(2)
							+prodCardThumb(3)
							+prodCardThumb(4)
							+prodCardThumb(5)
							+prodCardThumb(6)
							+prodCardThumb(7)

mixin prodCardThumb(imgNum)
	.swiper-slide
		+e.th-item
			img.swiper-lazy(src=`img/@2x/catalog-img-${imgNum}.png` data-src=`img/@2x/catalog-img-${imgNum}.png` alt="")

mixin prodCardSlide(imgNum)
	.swiper-slide
		+e.slide-img(href=`img/@2x/prod-card-img.jpg` data-fancybox=`prod-gallery`)
			.img-wrap-center
				img.swiper-lazy(src="#" data-src=`img/@2x/prod-card-img.jpg` alt="")

